.text-format {
    text-align: center;
    background:rgb(255, 255, 238);
    font-family: 'Kaushan Script', cursive;
   
}

.button {
    margin-right: 1px;
    background-color: white;
    border-color: white;
    /* position:absolute; */
    justify-content: center;
    justify-items: center;
    border-radius: 10px;
    
}

li {
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 25px;
    /* border-collapse: separate; */
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.m {
    background-color: rgba(204, 138, 16, 0.767);
}

.f {
    background-color: rgb(8, 153, 153);
}



.Main{
  
   margin-left: auto;
    margin-right: auto;
   width: 1000px;
   justify-content: center;
   height: auto;
   padding: 10px;
   border: double 3px teal;
   margin-top: 50px;
   border-left-color: orange;
   border-bottom-color:orange;

}

.activeButton {
    background:olive;
}